<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователь банка</title>
</head>
<body>
<p>Редактировать данные</p>
<form th:method="POST" th:action="@{/customer/update(customerId=${customer.getId()})}" th:object="${customer}">
    <input type="hidden" name="customerId" th:value="${customer.getId()}"/>

    <div>
        <label for="firstName">Ваше имя:</label>
        <input type="text" th:field ="*{firstName}" id="firstName">
        <div style="color:red" th:if="${#fields.hasErrors}" th:errors="*{firstName}">Name error</div>
    </div>
    <div>
        <label for="lastName">Ваше фамилия:</label>
        <input type="text" th:field ="*{lastName}" id="lastName">
        <div style="color:red" th:if="${#fields.hasErrors}" th:errors="*{lastName}">Name error</div>
    </div>
    <div>
        <label for="email">Ваш email:</label>
        <input type="text" th:field ="*{email}" id="email">
        <div style="color:red" th:if="${#fields.hasErrors}" th:errors="*{email}">Name error</div>
    </div>
    <div>
        <label for="passport">Ваш паспорт:</label>
        <input type="text" th:field ="*{passport}" id="passport">
        <div style="color:red" th:if="${#fields.hasErrors}" th:errors="*{passport}">Name error</div>
    </div>
<!--    <div>-->
<!--        <label for="password">Ваш пароль:</label>-->
<!--        <input type="text" th:field ="*{password}" id="password">-->
<!--        <div style="color:red" th:if="${#fields.hasErrors}" th:errors="*{password}">Name error</div>-->
<!--    </div>-->

    <input type="submit" value="Сохранить!">
</form>

</body>
</html>
